/* -------------------- */
/*         FONTS        */
/* -------------------- */

/* ------ RELANCER REGULAR ------ */

@font-face {
	font-family: 'Relancer Regular';
	src: url('../../fonts/Relancer/Relancer-Regular.eot');
	src: url('../../fonts/Relancer/Relancer-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Relancer/Relancer-Regular.woff') format('woff'),
		url('../../fonts/Relancer/Relancer-Regular.ttf') format('truetype'),
		url('../../fonts/Relancer/Relancer-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ------ SWEET SANS PRO THIN ------ */

@font-face {
	font-family: 'Sweet Sans Pro Thin';
	src: url('../../fonts/SweetSansPro/SweetSansPro-Thin.eot');
	src: url('../../fonts/SweetSansPro/SweetSansPro-Thin.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/SweetSansPro/SweetSansPro-Thin.woff') format('woff'),
		url('../../fonts/SweetSansPro/SweetSansPro-Thin.ttf') format('truetype'),
		url('../../fonts/SweetSansPro/SweetSansPro-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* ------ SWEET SANS PRO EXTRA LIGHT ------ */

@font-face {
	font-family: 'SweetSansPro ExtraLight';
	src: url('../../fonts/SweetSansPro/SweetSansPro-ExtraLight.eot');
	src: url('../../fonts/SweetSansPro/SweetSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/SweetSansPro/SweetSansPro-ExtraLight.woff') format('woff'),
		url('../../fonts/SweetSansPro/SweetSansPro-ExtraLight.ttf') format('truetype'),
		url('../../fonts/SweetSansPro/SweetSansPro-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* ------ SWEET SANS PRO LIGHT ------ */

@font-face {
	font-family: 'SweetSansPro Light';
	src: url('../../fonts/SweetSansPro/SweetSansPro-Light.eot');
	src: url('../../fonts/SweetSansPro/SweetSansPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/SweetSansPro/SweetSansPro-Light.woff') format('woff'),
		url('../../fonts/SweetSansPro/SweetSansPro-Light.ttf') format('truetype'),
		url('../../fonts/SweetSansPro/SweetSansPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ------ SWEET SANS PRO REGULAR ------ */

@font-face {
	font-family: 'SweetSansPro Regular';
	src: url('../../fonts/SweetSansPro/SweetSansPro-Regular.eot');
	src: url('../../fonts/SweetSansPro/SweetSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/SweetSansPro/SweetSansPro-Regular.woff') format('woff'),
		url('../../fonts/SweetSansPro/SweetSansPro-Regular.ttf') format('truetype'),
		url('../../fonts/SweetSansPro/SweetSansPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}