<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Site CV de Sithigna Vilay{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="/build/app.css" rel="stylesheet">
        <script src="https://unpkg.com/scrollreveal@4"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'commons/header.html.twig' %}
        {% block body %}
        
        {% endblock %}

        {% include 'commons/footer.html.twig' %}

        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/script.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
