<div class="section" style="height:200px; background-color:black;">					
    <header id="head" class="m-0" >
        <h1><p class="line-1 anim-typewriter">Bonjour, je suis Sithigna Vilay, développeur PHP.</p></h1>
    </header>
</div>

<nav class="navbar navbar-expand-lg navbar-dark" id="menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto links">
        <li class="nav-item active">
                <a class="nav-link" href="#about-me" >Qui suis-je ?</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"  href="#skills">Compétences</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"  href="#formations">Formations</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#exp">Expériences</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"href="#interets">Intérêts</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"href="#contact">Contact</a>
            </li>
                <hr />
        </ul>
    </div>
</nav> 
    