<div class="col-4" style="text-align:center; margin:auto; color:#FFFCF2;">
    <img src="{{imgsContact.url}}" alt="{{imgsContact.titre}}" width="100" height="100" style="margin-top:60px;">
    <h1 class="titre-interet">{{imgsContact.intitule | raw}}</h1>
    <p class="paragraphe-interet"></p>
</div>