<div class="row" style="display:grid; justify-content:center;" >
    <div class="col-md-12 col-xl-12 widget" style="margin-bottom:50px;">
          <a class="card" style="width:700px;">
            <i class="card__circle"></i>
            <i class="card__icon fa fa-info"></i>
            <p style="color:white; top:35px; font-size:20px;"><h1>{{formation.titre}}</h1></p> 
            <p>{{formation.date | raw}}</p> 
            <p>{{formation.formation | raw}}</p>
            <br/>
            <p>{{formation.details}}</p>
        </a>

	</div>
</div>